back/flights1/target/classes/META-INF/maven/flights1/flights1/pom.properties
back/flights1/target/classes/META-INF/maven/flights1/flights1/pom.properties
back/flights1/target/classes/META-INF/maven/flights1/flights1/pom.properties