<div class="mdl-grid" id="searchBar">
    <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" placeholder="From..." data-ng-model="flight.departureCity" value=""></input>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" placeholder="To..." data-ng-model="flight.arrivalCity"></input>
    </div>
    <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield datePicker">
        <input class="" type="date" placeholder="From..." data-ng-model="flight.departureDate"></input>
    </div>
    <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield datePicker">
        <input class="" type="date" placeholder="To..." data-ng-model="flight.arrivalDate"></input>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-cell mdl-cell--2-col mdl-cell--middle searchButton" ng-click="searchClick(flight)">
    Search
    </button>
</div>
<div id="searchResoults">
    <collapse data-ng-repeat="flight in flights" data-flight="flight" data-flight-type="flight.type"></colapse>    
</div>