<md-dialog aria-label="Add new member"  ng-cloak ng-controller="GroupController">
  <form id="addUser"  name="addUser" data-upgrade-component>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add new member</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
       		<i class="material-icons" aria-label="Close dialog">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" id="addMemberDialog">
          <div class="mdl-grid mdl-cell--12-col mdl-cell--3-offset" >
            <md-input-container id="inputUser">
              <label for="findUser">Find User</label>
               <input id="findUser" data-ng-model="userSearch.name" required="true">
            </md-input-container>
            <md-input-container>
              <i class="material-icons">search</i>
            </md-input-container>
          </div>
          <div class="mdl-grid">
              <user-result class="mdl-cell--12-col mdl-cell--2-offset"  data-ng-repeat="user in users"></user-result>
          </div>
        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent searchButton"  data-ng-disabled="addUser.$invalid" data-ng-click="newUserSearch(userSearch)" style="margin-right:20px;">
        Search
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
