@media screen and (min-width: 1400px) {
	#wrapper {
		width: 1420px;
		margin: auto;
	}
}

body {
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	overflow: scroll;
}

#carousel > img {
	width: 100%;
	height: 240px;
}

.offerCards img {
	height: 180px;
}

.datePicker {
	margin: 8px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#drawer {
	padding-top: 1em;
	padding-left: .5em;
	padding-right: .5em;
}

#menuNav {
	margin-top: 1em;
}

#menuNav > button {
	margin-bottom: .5em
}

#createGroup {
	margin-left: 0em;
}

#groups > ul {
	margin-top: 0em;
}

#facebookButton {
	background-color: #4267B2;
	color: white;
}

#googleButton {
	background-color: white;
}

#googleButton > img {
	margin-top: 0em;
}

#fbButton > img {
	padding: .2em;
	margin-right: 2em;
}

#twitterButton {
	background-color: #55acee;
	color: white;
}

#twitterButton > img {
	width: 35px;
}

.loginButton {
	margin-top: .2em;
	margin-bottom: .2em;
	/*display: none;*/
}

#searchBar {
	/*position: fixed;*/
	background: white;
}

#searchResoults {
	padding: .6em;
	width: 98%;
}

.searchResoultCard {
	padding: 1em;
	margin-top: .5em;
	margin-bottom: .5em;
}

.direction {
	padding: .5em;
	/*max-height: 50px;*/
	/*background-image: url("../img/60775.png");*/
}

.price {
	margin-bottom: .2em;
}

#loginButtons button {
	width: 100%;
}

.carrierLogo {
	max-width: 5em;
}

.flightDate {
	margin: 0;
}

.grow {
	transition: height 300ms;
	-webkit-transition: height 300ms;
	-moz-transition: height 300ms;
	-o-transition: height 300ms;
	height: 0em;
	overflow: hidden;
	visibility: hidden;
}

.show {
	height: auto;
	visibility: visible;
}

.flight-segment {
	border-top-width: .1em;
	border-top-color: black;
}

@media (max-height: 800px) {
	#carousel > img {
		height: 120px;
		width: 100%;
	}
}

#filters {
	padding-left: 2em;
	padding-right: 2em;
}

#filtersDropDown {
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
}

/*.removeCity {
	border: 0em;
	background-color: white;
}*/

.cardTitle {
	height: 11.25em;
}

#addMemberDialog{
	text-align: center;
}

.mdl-button--icon {
	overflow: visible;
}

#addMemberDialog{
  width:500px; height: 300px;
  overflow-x: hidden;
}

#groupControls{
	padding-left: .6em;
}