<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="google-signin-client_id" content="941059884386-rf3k4arbk73g0rlaodos6uhcvko3h17u.apps.googleusercontent.com">
    <!-- <base href="http://localhost/tw/proiect/front/"> -->
    
    <link rel="stylesheet" type="text/css" href="node_modules/material-design-lite/material.min.css">
    <link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/material-design-lite/material.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-mocks/angular-mocks.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="node_modules/angular-calendar/angular-material-calendar.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link rel="stylesheet" type="text/css" href="resources/css/style.css">
    
    <title>Travlr</title>
</head>
<body data-ng-app="Travlr" data-ng-controller="IndexController" data-ng-init="verifyLoginStatus()">

    <script type="text/javascript" src="resources/js/app.js"></script>
    <script type="text/javascript" src="resources/js/utils.js"></script>

    <div class="mdl-layout mdl-js-layout  mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <h1 class="display-3" data-ng-click="home()">Travlr</h1>
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" data-ng-click="visitCart()">
                    <i class="material-icons material-icons" data-ng-class="{'mdl-badge': badgeOn, 'mdl-badge--overlap': badgeOn}" data-badge="{{cartCount}}">shopping_cart</i>
                </button>
            </div>
        </header>
        <div class="mdl-layout__drawer" id="drawer">

            <div id="loginButtons" class="mdl-grid--no-spacing">
                <button id="facebookButton" class="mdl-cell--12-col loginButton mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-ng-click="FBLogin()">
                    <img src="resources/img/facebook_logo/FB-f-Logo__white_29.png" alt="Facebook">
                    Log in with Facebook
                </button>
                <!-- <br> -->
                <div class="g-signin2" data-onsuccess="onSignIn" data-width="225" data-height="36" data-longtitle="true"></div>
                <!-- <br> -->
                <!-- <button id="twitterButton" class="mdl-cell--12-col loginButton mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    <img src="resources/img/twitter_logo/TwitterLogo_white.png" alt="Twitter">
                    Sign in with Twitter
                </button> -->
            </div>

            <div id="userControlls">
                <div class="mdl-grid mdl-grid--no-spacing" id="userInfo">
                    <img data-ng-src={{user.imgUrl}} class="mdl-cell mdl-cell--6-col mdl-cell--top" id="userImage" alt="User Image">
                    <h4 class="display-1 mdl-cell mdl-cell--5-col mdl-cell--top mdl-cell--1-offset" id="name">{{user.name}}</h4>
                </div>
                <div id="menuNav">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        Flight sugestions
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        Acount setings
                    </button>
                </div>
                <div class="mdl-grid mdl-grid--no-spacing" id="groups">
                    <h4 class="display-1 mdl-cell--6-col">Groups</h4>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect mdl-cell--1-col" id="createGroup">
                        <i class="material-icons">add</i>
                    </button>
                    <ul class="demo-list-item mdl-list mdl-cell--12-col">
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                Group1
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                Group2
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                Group3
                            </span>
                        </li>
                    </ul>
                </div>
                <button id="logOut" class="mdl-cell--12-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-ng-click="logout()">
                    Log out
                </button>
            </div>
        </div>
        <main class="mdl-layout__content page-content" id="wrapper" data-ng-view>
        </main>
    </div>
    
    <!-- Controllers -->
    <script type="text/javascript" src="resources/js/controllers/HomeController.js"></script>
    <script type="text/javascript" src="resources/js/controllers/IndexController.js"></script>
    <script type="text/javascript" src="resources/js/controllers/SearchController.js"></script>
    <script type="text/javascript" src="resources/js/controllers/GroupController.js"></script>
    <script type="text/javascript" src="resources/js/controllers/CartController.js"></script>

    <!-- Directives -->
    <script type="text/javascript" src="resources/js/directives/searchResoult.js"></script>
    <script type="text/javascript" src="resources/js/directives/flightSegment.js"></script>
    <script type="text/javascript" src="resources/js/directives/filters.js"></script>
    <script type="text/javascript" src="resources/js/directives/stepoverCity.js"></script>
    <script type="text/javascript" src="resources/js/directives/upgradeMDLComponent.js"></script>
    <script type="text/javascript" src="resources/js/directives/offerCard.js"></script>
    <script type="text/javascript" src="resources/js/directives/userResult.js"></script>
    <script type="text/javascript" src="resources/js/directives/userRemove.js"></script>
    <script type="text/javascript" src="resources/js/directives/cartItem.js"></script>
    <script type="text/javascript" src="resources/js/directives/fileModel.js"></script>

    <!-- Services -->
    <script type="text/javascript" src="resources/js/services/userService.js"></script>
    <script type="text/javascript" src="resources/js/services/flightService.js"></script>
    <script type="text/javascript" src="resources/js/services/groupServices/findUserService.js"></script>
    <script type="text/javascript" src="resources/js/services/groupServices/addUserService.js"></script>
    <script type="text/javascript" src="resources/js/services/groupServices/groupUsersService.js"></script>
    <script type="text/javascript" src="resources/js/services/groupServices/removeUserService.js"></script>
    <script type="text/javascript" src="resources/js/services/groupServices/fileUploadService.js"></script>
    <script type="text/javascript" src="resources/js/services/groupServices/setUserCalendarService.js"></script>
    <script type="text/javascript" src="resources/js/services/buyService.js"></script>
    <script type="text/javascript" src="resources/js/services/cartService.js"></script>
    <script type="text/javascript" src="resources/js/services/sendGoogleToken.js"></script>


</body>
</html>