<div class="mdl-shadow--4dp searchResoultCard">
        <div class="withReturn mdl-grid">
            <div class="oneWay mdl-cell--5-col mdl-grid">
                <div class="mld-cell--1-col display-1">9:50 PM</div>
                <div class="mdl-cell--1-col mdl-cell--6-offset display-1"> 10:20PM</div>
            </div>
            <div class="oneWay mdl-cell--5-col mdl-coll-2-offset mdl-grid">
                <div class="mld-cell--1-col display-1">9:50 PM</div>
                <div class="mdl-cell--1-col mdl-cell--6-offset display-1"> 10:20PM</div>
            </div>
        </div>
    </div>