<div class="mdl-grid mdl-grind--no-spacing mdl-cell--12-col" id="filters">
	<div class="mdl-cell--1-col">
		<label class="">Duration {{flightSearch.duration}}h</label>
		<md-slider class="" data-ng-model="flightSearch.duration" min="1" max="24" step="1" aria-label="flightDuration"></md-slider>
	</div>
	<div class="mdl-cell--2-col mdl-cell--1-offset" id="priceFilter">
		<label class="">Prices lower than {{flightSearch.priceMax | currency:'€'}}</label>
		<md-slider class="" data-ng-model="flightSearch.priceMax" min="100" max="10000" step="100" aria-label="flightPriceMax"></md-slider>
	</div>
	<div class="mdl-cell--4-col mdl-cell--1-offset mdl-cell--top mdl-grid">
		<md-input-container>
			<label>Adults</label>
			<md-select data-ng-model="flightSearch.numberAdults">
				<md-option ng-repeat="value in range(1, 20)" value="{{value}}">
					{{value}}
				</md-option>
			</md-select>
		</md-input-container>
		<md-input-container>
			<label>Children</label>
			<md-select data-ng-model="flightSearch.numberChildren">
				<md-option ng-repeat="value in range(0, 20)" value="{{value}}">
					{{value}}
				</md-option>
			</md-select>
		</md-input-container>
		<md-input-container>
			<label>Infants</label>
			<md-select data-ng-model="flightSearch.numberInfants">
				<md-option ng-repeat="value in range(0, 20)" value="{{value}}">
					{{value}}
				</md-option>
			</md-select>
		</md-input-container>
	</div>
	<div class="mdl-cell--3-col"></div>
	<div class="mdl-cell--12-col mdl-grid" data-ng-repeat="city in flightSearch.stepoverCities">
		<stepover-city class="mdl-cell--3-col" data-city="city"></stepover-city>
	</div>
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-cell--2-col" data-ng-click="addStepoverCity()">
    Add stepover city
    </button>
</div>