
.boxed1 {
border : 2px solid black;
width : 35px;
height : 25px;
}

.boxed2 {
border : 2px solid black;
width : 35px;
height : 25px;
}

.boxed3 {
border : 2px solid black;
width : 35px;
height : 25px;
}


.boxed4 {
border : 2px solid black;
width : 35px;
height : 25px;
}


